<div class=" container">
  <form class="add-product" #form="ngForm" (ngSubmit)="onSubmint(form)">
      <div class="add-product__images slider">
          <div class="add-product__image-actions">
              <div class="add-product__image-action">
                  <a href="#"><i class="fas fa-plus-square"></i></a>
                  <a href="#"><i class="fas fa-edit"></i></a>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </div>
          </div>
          <div class="slider__items">
              <div class="slider__item active" style="background-image: url(assets/img/desktop-device-1.png)"></div>
              <div class="slider__item" style="background-image: url(assets/img/desktop-device-1.png)"></div>
              <div class="slider__item" style="background-image: url(assets/img/desktop-device-1.png)"></div>
          </div>
          <div class="slider__indicators">
              <span class="slider__indicator active"></span>
              <span class="slider__indicator"></span>
              <span class="slider__indicator"></span>
          </div>
      </div>
      <div class="add-product__data">
          <div class="form-controls">
              <section class="tabs">
                  <div class="tabs__headers">
                      <div class="tabs__header active">
                          English
                      </div>
                      <div class="tabs__header">
                          Arabic
                      </div>
                  </div>
                  <div class="tabs__bodies">
                      <div class="tabs__body active">
                          <div class="form-group " [ngClass]="{'invalid':textname.invalid && textname.touched}">
                              <label for="">Name</label>
                              <input #textname="ngModel" minlength="10" required [(ngModel)]="product.basicData[0].name" class="form-control" type="text" name="name" id="">
                              <span *ngIf="textname.invalid && textname.touched && textname.errors?.required">this is required</span>
                              <span *ngIf="textname.invalid && textname.touched && textname.errors?.minlength">minlength {{textname.errors?.minlength.requiredLength}} and you entered {{textname.errors?.minlength.actualLength}}</span>
                          </div>
                          <div class="form-group" [ngClass]="{'invalid':textdesc.invalid && textdesc.touched}">
                              <label for="">Description</label>
                              <textarea #textdesc="ngModel" required [(ngModel)]="product.basicData[0].desc" class="form-control" name="description" id="description" cols="30" rows="4"></textarea>
                          </div>
                      </div>
                      <div class="tabs__body ">
                          <div class="form-group invalid">
                              <label for="">Name</label>
                              <input class="form-control" type="text" name="" id="">
                          </div>
                          <div class="form-group">
                              <label for="">Description</label>
                              <textarea class="form-control" name="" id="" cols="30" rows="4"></textarea>
                          </div>
                      </div>
                  </div>
              </section>

              <div class="form-group">
                  <label for="">Price</label>
                  <input [(ngModel)]="product.price" class="form-control" type="text" name="price" id="">
              </div>
              <div class="add-product__discount">
                  <div class="form-group">
                      <label for="">Satus</label>
                      <div class="form-group__radios">
                          <div class="form-group__radio"><input  [value]="true" #radio="ngModel" ngModel type="radio" name="saleRadio" id=""><span>On Sale</span></div>
                          <div class="form-group__radio"><input  [value]="false" #radio="ngModel" ngModel type="radio" name="saleRadio" id=""><span>Not On Sale</span></div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="">Discount</label>
                      <input  [(ngModel)]="product.discount" [disabled]="!radio.value"  name="discount"class="form-control" type="number" name="discount" id="">
                  </div>
              </div>

              <div class="form-group">
                  <label for="">Payment Types</label>
                  <div class="form-group__checkboxs">
                      <div *ngFor="let pT of paymentMethod; let i =index" class="form-group__checkbox"><input type="checkbox" ngModel  [name]="'check_'+i" id=""><span>{{pT.name}}</span></div>

                  </div>
              </div>
              <!-- <app-payment-type></app-payment-type> -->

              <div class="form-group">
                  <label for="">Category</label>
                  <select ngModel class="form-control" name="category" id="">
                    <!-- <option value="">select category</option> -->
                    <option *ngFor="let c of category " [value]="c.id">{{c.name}}</option>
                  </select>
              </div>

              <div class="taged-textbox form-group">
                  <label class="taged-textbox__lable" for="">Tags</label>
                  <div class="taged-textbox__data">
                      <div class="taged-textbox__tags">
                          <div *ngFor="let tag of product.tags" class="taged-textbox__tag"><span>{{tag.name}}</span><a href="#" class="taged-textbox__remove"><i
                                      class="fas fa-times"></i></a></div>

                      </div>
                      <div class="taged-textbox__clear">
                          <a href="#"><i class="fas fa-times"></i></a>
                      </div>
                  </div>
                  <input #tagInput ngModel (change)="onTagAdded(tagInput)" class="taged-textbox__textbox form-control" type="text" name="tag" id="">
              </div>
              <div class="add-product__actions">
                  <button href="#" class="btn btn--gray">Cancel</button>
                  <button type="submit" class="btn btn--primary">Add</button>
              </div>
          </div>
      </div>
  </form>
</div>
