<div class="item-medium-1">
    <div *ngIf="product.discount" class="item-medium-1__alert" >Sale</div>
    <div class="item-medium-1__image image" [style.backgroundImage]="'url(' + product.imgUrls[0] + ')'">
        <a  class="item-medium-1__action" (click)="itemAddedtoCart()">Add to Cart</a>
    </div>
    <a [routerLink]="['/product','details',product.id]">
        <h4>{{product.basicData[0].name}}</h4>
        <div class="flex-row">
            <div>
                <del *ngIf="product.discount" [innerText]="product.price">$</del>
                <span class="lable">{{getprice() | currency: 'USD'}}</span>
            </div>
        </div>
    </a>
    <div class="crud-actions">
        <a href="#"><i class="far fa-eye"></i></a>
        <a [routerLink]="['/product','edit',product.id]"><i class="fas fa-edit"></i></a>
        <a (click)="deleteItem(product.id)"><i class="fas fa-trash-alt"></i></a>
    </div>
</div>
